<ul>
<% @listings.each do |listing| %>
  <li><%= link_to listing.name, "http://cgi.sandbox.ebay.com/#{listing.ebay_uid}", :target => '_blank' %></li>
<% end %>
</ul>

<%= link_to "New Listing", new_listing_path %>
