<ul>
<% @listings.each do |listing| %>
  <li>
    <%= link_to listing.name, "http://cgi.sandbox.ebay.com/#{listing.ebay_uid}", :target => '_blank' %>
    <%= link_to 'edit', edit_listing_path(listing) %>
  </li>
<% end %>
</ul>

<%= link_to "New Listing", new_listing_path %>
